<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Gustavo">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>About you...</mat-label>
      <textarea matInput placeholder="Ex. I'm 21 years old..."></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="accent">Accent</button>
  </div>
</section>
<mat-divider></mat-divider>
  </form>
